{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    nav{
      background-color:rgb(115, 115, 151);
      position:fixed;
      top:0;
      width:100%;
      color: black;
      z-index:2;
      font-family: 'Vollkorn', serif;
    }
    nav a{
      text-decoration: none;
      color:black;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-light" style='position:fixed;'>
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'home' %}">Nextdoor</a>
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
    </div>

        <form class="navbar-form navbar-center" role="search" action=>

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Business" name="user">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>

        </form>

    <div class="">
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'my_profile' %}" style='text-decoration: none;'><img src='{{my_profile.profile_pic.url}}' width='20px' height='20px' style='border-radius:50%;' class='image-thumbnail'>{{request.user.username}}</a></li>
        <li><a href="" class="nav-link"><i class="fas fa-plus"></i></a></li>
        <li class="dropdown nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-ellipsis-v"></i>
                </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/accounts/password/change">Change Password</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </li>
    {% else %}
    <li>
      <a class='btn btn-default' href="/accounts/login">Login</a>
    </li>
    {% endif %}
</ul>
  </div></div>
</nav>
</body>
</html>